<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/fonts/fontface.css">
    <link rel="stylesheet" href="~/css/shell.css">
    <title>@ViewData["Title"]</title>
</head>
<body>
    <main>
        @RenderBody()
    </main>
    <script src="~/scripts/shell.js"></script>
</body>
</html>
