@page
@model ProductProgamming04042025.Pages.Login
@{
}

<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/auth.css">
    <link rel="stylesheet" href="~/css/toast.css">
    <script src="https://yastatic.net/s3/passport-sdk/autofill/v1/sdk-suggest-with-polyfills-latest.js"></script>
    <title>Логин</title>
</head>

<body>
    <main>
        <section id="content">
            <div id="logo">
                <h1>FitAI</h1>
            </div>
            <form id="form" method="post">
                <label class="input">
                    <span>Логин</span>
                    <input asp-for="Input.Login" type="text" name="login" id="login" placeholder="Введите логин"
                        autocomplete="off" required>
                </label>
                <label class="input">
                    <span>
                        Пароль
                    </span>
                    <input asp-for="Input.Password" type="password" name="password" id="password"
                        placeholder="Введите логин" autocomplete="off" required>
                </label>
                <div class="form-footer">
                    <button type="submit">Войти</button>
                    <a asp-page="/Registration">Нет аккаунта? Зарегистрируйтесь!</a>
                </div>
                <script src="~/js/YandexID_main.js">
                </script>
            </form>
        </section>
    </main>
    <script src="~/js/toast.js"></script>
    @* <script src="~/js/login.js"></script> *@
</body>

</html>
