@page
@model ProductProgamming04042025.Pages.PasswordRecoveryStartModel
@{
}


<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/auth.css">
    <link rel="stylesheet" href="~/css/toast.css">
    <title>Document</title>
</head>
<body>
    <main>
        <section id="content">
            <div id="logo">
                <h1>FitAI</h1>
            </div>
            <form id="form" action="/EmailConfirmPasswordRecovery">
                <label class="input">
                    <span>Адрес электронной почты</span>
                    <input type="email" name="email" id="email" placeholder="Введите почту, на которую зарегистрирован аккаунт" autocomplete="off" required>
                </label>
                <div class="form-footer">
                    <button type="submit">Изменить пароль</button>
                </div>
            </form>
        </section>
    </main>
    <script src="~/js/toast.js"></script>
    <script src="~/js/login.js"></script>
</body>
</html>