@page
@model YandexID

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://yastatic.net/s3/passport-sdk/autofill/v1/sdk-suggest-token-with-polyfills-latest.js"></script>
    <title>YandexID</title>
</head>
<body>
    <script src="~/js/YandexID.js"> </script>
</body>
</html>