#settings label.input{
    max-width: 400px;
    margin-top: 26px;
}

#settings button{
    background-color: var(--blue);
    appearance: none;
    border-radius: 10px;
    margin-top: 40px;
    border: none;
    padding: 17px 0;
    width: 203px;
    display: flex;
    align-items: center;
    justify-content: center;
}

button.exit-button{
    margin-top: 70px !important;
    color: black !important;
    text-decoration: none !important;
    padding: 17px 0 !important;
    border-radius: 10px !important;
    width: 203px !important;
    background-color: var(--red-button) !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

